[Unit]
Description=SilverHand arm teleop GUI
Wants=network-online.target
After=network-online.target
Requires=ethernet-can.service
After=ethernet-can.service

[Service]
User=voltbro
Group=voltbro
Type=simple
WorkingDirectory=%h/silver_ws/src/silverhand_arm_teleop
Environment=HOST=0.0.0.0
Environment=PORT=4173
ExecStartPre=/usr/bin/sleep 30
ExecStart=%h/silver_ws/src/silverhand_arm_teleop/silverhand_arm_teleop_start.sh
Restart=on-failure
RestartSec=2
KillSignal=SIGINT
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
