VITE_CAMERA_DRIVER_WHEP_URL=http://127.0.0.1:8889/driver/whep
VITE_CAMERA_WRIST_WHEP_URL=http://127.0.0.1:8889/wrist/whep
VITE_CAMERA_DIAGONAL_WHEP_URL=http://127.0.0.1:8889/diagonal/whep
VITE_CAMERA_FRONT_HEMI_WHEP_URL=http://127.0.0.1:8889/front_hemi/whep
